extend layout

block css
	link(rel='stylesheet', type='text/css', media='screen', href='public/css/bootstrap.css')
	link(rel='stylesheet', type='text/css', href='public/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='public/css/slick.css')
	link(rel='stylesheet', type='text/css', href='public/css/slick-theme.css')
	link(rel='stylesheet', type='text/css', media='screen', href='public/css/style.css')

block js
	script(src='https://code.jquery.com/jquery-3.2.1.js')
	script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js')
	script(src="public/js/bootstrap.min.js")
	script(src="public/js/slick.js")
	script(src="public/js/script.js")

block content
	#fullpage

		//- #main-content
		//- each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
		//- 	.image-wrapper
		//- 		img(src="images/img" + val + ".png", alt="")

		.lightbox
			.lb-images
				.lb-slides
					each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
						.img-fill
							img(src="public/images/img" + val + ".png", alt="")